## DataFrames

In [2]:
import pandas as pd
from numpy.random import randn

In [3]:
df = pd.DataFrame(randn(5,4), index=["A", "B", "C", "D", "E"], columns="W X Y Z".split())

In [4]:
df

          W         X         Y         Z
A  0.886674  0.053079 -0.579405 -0.005319
B -1.364926 -0.801251 -0.500371  0.026572
C -0.742553 -1.483767  0.473259  0.977230
D -0.143317 -0.662164  1.291272  0.195286
E -1.409326  0.114649 -0.902213 -0.234828

In [5]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df['W']

A    0.886674
B   -1.364926
C   -0.742553
D   -0.143317
E   -1.409326
Name: W, dtype: float64

In [8]:
type(df['W'])

pandas.core.series.Series

In [10]:
df[['W']]

          W
A  0.886674
B -1.364926
C -0.742553
D -0.143317
E -1.409326

In [11]:
type(df[['W']])

pandas.core.frame.DataFrame

In [13]:
df['new'] = df['W']

In [14]:
df

          W         X         Y         Z       new
A  0.886674  0.053079 -0.579405 -0.005319  0.886674
B -1.364926 -0.801251 -0.500371  0.026572 -1.364926
C -0.742553 -1.483767  0.473259  0.977230 -0.742553
D -0.143317 -0.662164  1.291272  0.195286 -0.143317
E -1.409326  0.114649 -0.902213 -0.234828 -1.409326

In [15]:
df['new'] = df['W'] + df['Y']

In [16]:
df

          W         X         Y         Z       new
A  0.886674  0.053079 -0.579405 -0.005319  0.307269
B -1.364926 -0.801251 -0.500371  0.026572 -1.865297
C -0.742553 -1.483767  0.473259  0.977230 -0.269295
D -0.143317 -0.662164  1.291272  0.195286  1.147955
E -1.409326  0.114649 -0.902213 -0.234828 -2.311538

In [17]:
del df['new']

In [18]:
df

          W         X         Y         Z
A  0.886674  0.053079 -0.579405 -0.005319
B -1.364926 -0.801251 -0.500371  0.026572
C -0.742553 -1.483767  0.473259  0.977230
D -0.143317 -0.662164  1.291272  0.195286
E -1.409326  0.114649 -0.902213 -0.234828

In [19]:
df['new'] = df['W'] + df['Y']

In [20]:
df

          W         X         Y         Z       new
A  0.886674  0.053079 -0.579405 -0.005319  0.307269
B -1.364926 -0.801251 -0.500371  0.026572 -1.865297
C -0.742553 -1.483767  0.473259  0.977230 -0.269295
D -0.143317 -0.662164  1.291272  0.195286  1.147955
E -1.409326  0.114649 -0.902213 -0.234828 -2.311538

In [23]:
df2 = df.drop('new', axis=1)

In [24]:
df

          W         X         Y         Z       new
A  0.886674  0.053079 -0.579405 -0.005319  0.307269
B -1.364926 -0.801251 -0.500371  0.026572 -1.865297
C -0.742553 -1.483767  0.473259  0.977230 -0.269295
D -0.143317 -0.662164  1.291272  0.195286  1.147955
E -1.409326  0.114649 -0.902213 -0.234828 -2.311538

In [25]:
df2

          W         X         Y         Z
A  0.886674  0.053079 -0.579405 -0.005319
B -1.364926 -0.801251 -0.500371  0.026572
C -0.742553 -1.483767  0.473259  0.977230
D -0.143317 -0.662164  1.291272  0.195286
E -1.409326  0.114649 -0.902213 -0.234828

In [27]:
df.drop('new', axis=1, inplace=True)

In [28]:
df

          W         X         Y         Z
A  0.886674  0.053079 -0.579405 -0.005319
B -1.364926 -0.801251 -0.500371  0.026572
C -0.742553 -1.483767  0.473259  0.977230
D -0.143317 -0.662164  1.291272  0.195286
E -1.409326  0.114649 -0.902213 -0.234828

In [33]:
df.loc['A']

W    0.886674
X    0.053079
Y   -0.579405
Z   -0.005319
Name: A, dtype: float64

In [30]:
df.loc[['A']]

          W         X         Y         Z
A  0.886674  0.053079 -0.579405 -0.005319

In [31]:
df.iloc[0, 2]

-0.5794053166144315

In [34]:
df.loc[['A','B'], 'W']

A    0.886674
B   -1.364926
Name: W, dtype: float64

In [35]:
df.loc[['A','B'], ['W']]

          W
A  0.886674
B -1.364926

In [37]:
df.iloc[:-1, :]

          W         X         Y         Z
A  0.886674  0.053079 -0.579405 -0.005319
B -1.364926 -0.801251 -0.500371  0.026572
C -0.742553 -1.483767  0.473259  0.977230
D -0.143317 -0.662164  1.291272  0.195286

In [39]:
df.iloc[:-1, 1:4]

          X         Y         Z
A  0.053079 -0.579405 -0.005319
B -0.801251 -0.500371  0.026572
C -1.483767  0.473259  0.977230
D -0.662164  1.291272  0.195286

In [40]:
df.iloc[1:4, 1:3]

          X         Y
B -0.801251 -0.500371
C -1.483767  0.473259
D -0.662164  1.291272

In [41]:
df + df

          W         X         Y         Z
A  1.773348  0.106158 -1.158811 -0.010639
B -2.729851 -1.602502 -1.000743  0.053145
C -1.485106 -2.967534  0.946517  1.954461
D -0.286635 -1.324329  2.582544  0.390572
E -2.818651  0.229297 -1.804425 -0.469657

In [42]:
df > df

       W      X      Y      Z
A  False  False  False  False
B  False  False  False  False
C  False  False  False  False
D  False  False  False  False
E  False  False  False  False

In [44]:
df > 0

       W      X      Y      Z
A   True   True  False  False
B  False  False  False   True
C  False  False   True   True
D  False  False   True   True
E  False   True  False  False

In [45]:
df[df > 0]

          W         X         Y         Z
A  0.886674  0.053079       NaN       NaN
B       NaN       NaN       NaN  0.026572
C       NaN       NaN  0.473259  0.977230
D       NaN       NaN  1.291272  0.195286
E       NaN  0.114649       NaN       NaN

In [47]:
df['Z'] > 0

A    False
B     True
C     True
D     True
E    False
Name: Z, dtype: bool

In [49]:
df[df['Z'] > 0]

          W         X         Y         Z
B -1.364926 -0.801251 -0.500371  0.026572
C -0.742553 -1.483767  0.473259  0.977230
D -0.143317 -0.662164  1.291272  0.195286

In [53]:
(df['Y'] > 0) & (df['Z'] > 0)

A    False
B    False
C     True
D     True
E    False
dtype: bool

In [54]:
df[(df['Y'] > 0) & (df['Z'] > 0)]

          W         X         Y         Z
C -0.742553 -1.483767  0.473259  0.977230
D -0.143317 -0.662164  1.291272  0.195286