## Hierarquia de indices e indices multiplos

In [12]:
import pandas as pd
from numpy.random import randn

#Niveis de Indice
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]

hier_index = list(zip(outside,inside))

In [13]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [14]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [15]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [16]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])

In [17]:
df

             A         B
G1 1  0.343544  0.631152
   2 -0.739043  0.639050
   3  0.378611 -0.684399
G2 1 -1.057438 -1.590047
   2 -0.392831 -0.650603
   3 -1.394385  0.023798

In [18]:
df.loc['G1']

          A         B
1  0.343544  0.631152
2 -0.739043  0.639050
3  0.378611 -0.684399

In [ ]:
#dara erro pois ele só esta olhando o promeiro indice por padrão
df.loc['1']

In [20]:
df.loc['G1'].loc[1]

A    0.343544
B    0.631152
Name: 1, dtype: float64

In [22]:
df.index.names

FrozenList([None, None])

In [23]:
df.index.names = ['Grupo', 'Numero']

In [24]:
df

                     A         B
Grupo Numero
G1    1       0.343544  0.631152
      2      -0.739043  0.639050
      3       0.378611 -0.684399
G2    1      -1.057438 -1.590047
      2      -0.392831 -0.650603
      3      -1.394385  0.023798

In [25]:
df.xs('G1')

               A         B
Numero
1       0.343544  0.631152
2      -0.739043  0.639050
3       0.378611 -0.684399

In [26]:
df.xs(1, level='Numero')

              A         B
Grupo
G1     0.343544  0.631152
G2    -1.057438 -1.590047