## Indices

In [2]:
import pandas as pd
from numpy.random import randn

In [5]:
df = pd.DataFrame(randn(5,4), index=["A", "B", "C", "D", "E"], columns="W X Y Z".split())

In [6]:
df

          W         X         Y         Z
A  1.668579 -0.799006 -1.165273  0.662561
B  0.218352 -0.086417  0.018660 -0.442668
C  0.414029 -0.814785 -0.454954 -0.513791
D  0.243552  0.271245  0.756073  0.015696
E -1.531999 -1.718863  0.350759 -1.594396

In [4]:
df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [7]:
df.columns

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [10]:
df.reset_index(inplace=True)

In [11]:
df

  index         W         X         Y         Z
0     A  1.668579 -0.799006 -1.165273  0.662561
1     B  0.218352 -0.086417  0.018660 -0.442668
2     C  0.414029 -0.814785 -0.454954 -0.513791
3     D  0.243552  0.271245  0.756073  0.015696
4     E -1.531999 -1.718863  0.350759 -1.594396

In [12]:
df.set_index('index', inplace=True)

In [13]:
df

              W         X         Y         Z
index
A      1.668579 -0.799006 -1.165273  0.662561
B      0.218352 -0.086417  0.018660 -0.442668
C      0.414029 -0.814785 -0.454954 -0.513791
D      0.243552  0.271245  0.756073  0.015696
E     -1.531999 -1.718863  0.350759 -1.594396

In [14]:
novoind = ' CA NY WY OR CO'.split()

In [15]:
novoind

['CA', 'NY', 'WY', 'OR', 'CO']

In [16]:
df['novo_index'] = novoind

In [17]:
df

              W         X         Y         Z novo_index
index
A      1.668579 -0.799006 -1.165273  0.662561         CA
B      0.218352 -0.086417  0.018660 -0.442668         NY
C      0.414029 -0.814785 -0.454954 -0.513791         WY
D      0.243552  0.271245  0.756073  0.015696         OR
E     -1.531999 -1.718863  0.350759 -1.594396         CO

In [20]:
df.set_index("novo_index")

                   W         X         Y         Z
novo_index
CA          1.668579 -0.799006 -1.165273  0.662561
NY          0.218352 -0.086417  0.018660 -0.442668
WY          0.414029 -0.814785 -0.454954 -0.513791
OR          0.243552  0.271245  0.756073  0.015696
CO         -1.531999 -1.718863  0.350759 -1.594396

In [21]:
df.reset_index().set_index("novo_index")

           index         W         X         Y         Z
novo_index
CA             A  1.668579 -0.799006 -1.165273  0.662561
NY             B  0.218352 -0.086417  0.018660 -0.442668
WY             C  0.414029 -0.814785 -0.454954 -0.513791
OR             D  0.243552  0.271245  0.756073  0.015696
CO             E -1.531999 -1.718863  0.350759 -1.594396